<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My page</title>
    <link rel="stylesheet" href="styles.css" />
    <!-- Link to your CSS file -->
  </head>
  <body>
    <header>
      <h1>Yinka Owolabi</h1>
      <img src="../views/path/to/profile.png" alt="Your Photo" class="profile-photo" />
      <p class="bio">
        Am yinka owolabi by name born and brought up in Lagos Nigeria, i am a
        mother of 3 beautiful children and i love cooking
      </p>
      <div class="social-links">
        <a href="https://github.com/yinkus89" target="_blank">GitHub</a> |
        <a
          href="https://linkedin.com/in/yinka-owolabi-02945b258"
          target="_blank"
          >LinkedIn</a
        >
      </div>
    </header>

    <section id="projects">
      <h2>My Projects</h2>
      <div id="projects-list">
        <!-- Project data will be loaded here -->
      </div>
    </section>

    <script src="app.js"></script>
    <!-- Link to your JSON data or JavaScript file -->
  </body>
</html>
